# 数据库
DB_USER=itsm
DB_PASSWORD=itsm
DB_NAME=itsm
DB_PORT=5432

# Redis
REDIS_PORT=6379

# 服务端口
SERVER_PORT=3000
H5_PORT=5173
ADMIN_PORT=5174

# 企业微信
WECOM_CORPID=
WECOM_SECRET=
WECOM_AGENT_ID=
WECOM_TOKEN=
WECOM_ENCODING_AES_KEY=
WECOM_H5_BASE_URL=http://tvad.value-data.cn
WECOM_ADMIN_BASE_URL=http://tvad.value-data.cn
WECOM_CALLBACK_BASE_URL=http://tvad.value-data.cn
